@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("font/web/cuprum.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumBold";
  src: local("CuprumBold"),
    url("font/web/cuprumbold.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumBoldItalic";
  src: local("CuprumBoldItalic"),
    url("font/web/cuprumbolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumItalic";
  src: local("CuprumItalic"),
    url("font/web/cuprumitalic.woff2") format("woff2");
}
@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
    url("font/web/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PTSansBold";
  src: local("PTSansBold"),
    url("font/web/ptsansbold.woff2") format("woff2");
}
@font-face {
  font-family: "PTSansBold";
  src: local("PTSansBold"),
    url("font/web/ptsansbold.woff2") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ffffff;
  
}
a {
  text-decoration: none;
  
}
.main-header,
.main-service {
  background-color: #f3f7f8;
  background-image: url(img/background-header.jpg);
  background-position: top center;
  background-repeat: repeat;
}
.header-top {
  font-size: 17px;
  background-color: #293449;
}
.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #293449;
}
.header-top a,
.main-navigation a {
  color: #ffffff;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
}
.offer-button {
  background-color: #63a63e;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.header-search {
  font-family: inheric;
  background-color: #293449;
  color: #ffffff;
}
.main-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
}
.main-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}
.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.header-top a:hover,
.header-top a:focus {
  background-color: #212a3a;
}
a.offer-button:hover,
a.offer-button:focus {
  background-color: #5fbb2d;
}
.header-top a:active {
  opacity: 0.6;
  background-color: #161d29;
} 
a.offer-button:active {
  opacity: 0.51;
  background-color: #518534;
}
.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}
.main-header-logo:active {
  background-color: #ba2732;
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}
.user-navigation a:active {
  opacity: 0.3;
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}
.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}
.header-search input {
  font: inherit;
  background-color: #293449;
  border-color: #293449;
}
.header-search input:hover {
  background-color: #212a3a;
  border-color: #212a3a;
}
.header-search input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.section-button {
  color: #ffffff;
  background-color: #e5e5e5;
  text-transform: uppercase;
}
.section-button:hover,
.section-button:focus {
  background-color: #cccccc;
}
.section-button:active {
  background-color: #b2b2b2;
}
}
.menu-containers h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.section-materials {
  background-color: #ffbf47;
}
.section-tool {
  background-color: #3bbce3;
}
.section-tech {
  background-color: #dc91d8;
}
.section-sale {
  background-color: #8ed78f;
}
.section-delivery {
  background-color: #ffc047;
}
.button {
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
button:active {
  background-color: #ba2732;
}
.popular-head {
  background-color: #f9f5f0;
}
.popular-title,
.main-service-title,
.about-company-title,
.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.goods-name {
  font-family: "PTSans";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
.goods-old-price {
  font-family: "PTSans";
  font-weight: bold;
  text-transform: uppercase;
  color: #a9a9a9;
  text-decoration: line-through;
}
.goods-price {
  font-family: "PTSans";
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}
.goods-price:hover,
.goods-price:focus {
  background-color: #ca2c37;
}
.goods-price:active {
  background-color: #ba2732;
}
/*li.popular-item:hover .goods-actions,
li.popular-item:focus .goods-actions {
  display: block;
}*/
/* сделать тени и изменение карточки при наведении*/
.goods-actions-buy {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
}
.goods-actions-buy:hover,
.goods-actions-buy:focus {
  background-color: #5fbb2d;
}
.goods-actions-buy:active {
  background-color: #518534;
}
.goods-actions-tab {
  color: #32425c;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}
.goods-actions-tab:hover,
.goods-actions-tab:focus {
  border-color: #32425c;
}
.goods-actions-tab:active {
  opacity: 0.3;
  border-color: #c1c6ce;
}
/*сделать тени при ниведении и клике*/
.popular-manuf .popular-item {
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
}

.popular-manuf .popular-item:active {
  opacity: 0.3;
}

.main-service-text,
.service-text,
.about-company-text,
.contacts-text {
  font-family: "PTSans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.service-name {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}
.service-button-delivery,
.service-button-guarantee,
.service-button-credit {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border: none;
}
.service-button-delivery:hover,
.service-button-guarantee:hover,
.service-button-credit:hover,
.service-button-delivery:focus,
.service-button-guarantee:focus,
.service-button-credit:focus {
  background-color: #293449;
}
.service-button-delivery:active,
.service-button-guarantee:active,
.service-button-credit:active {
  color: #32425c;
  background-color: #ffffff;
}
.about-company-title,
.contacts-title {
  color: #000000;
}
.delivery-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.footer-navigation,
.footer-middle {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  list-style: none;
}
.footer-navigation a {
  color: #ffffff;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
  
}
.footer-navigation a:active {
  opacity: 0.5;
  color: #f1f5f7;
  text-decoration: none;
}
.footer-add-menu {
  list-style: none;
}
.footer-add-menu a {
  color: #ffd180;
}
.footer-add-menu a:hover,
.footer-add-menu a:focus {
  text-decoration: underline;
}
.footer-add-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-low {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.background-write-us {
  background-color: #f4f4f4;
}
.social-list {
  list-style: none;
  text-align: center;
}
.email-feedback,
.developer-button {
  color: #ffd180;
}
.email-feedback:hover,
.developer-button:hover,
.email-feedback:focus,
.developer-button:focus {
  text-decoration: underline;
}

.email-feedback:active,
.developer-button:active {
  color: #ac3545;
  text-decoration: none;
}

.modal-write-us {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}
.write-us input,
.write-us textarea {
  font-family: "PTSans";
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.button-write-us {
  font: inherit;
  border: none;
}