@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("font/web/cuprum.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumBold";
  src: local("CuprumBold"),
    url("font/web/cuprumbold.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumBoldItalic";
  src: local("CuprumBoldItalic"),
    url("font/web/cuprumbolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "CuprumItalic";
  src: local("CuprumItalic"),
    url("font/web/cuprumitalic.woff2") format("woff2");
}
@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
    url("font/web/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PTSansBold";
  src: local("PTSansBold"),
    url("font/web/ptsansbold.woff2") format("woff2");
}
@font-face {
  font-family: "PTSansBold";
  src: local("PTSansBold"),
    url("font/web/ptsansbold.woff2") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #ffffff;
  
}
a {
  text-decoration: none;
  
}
.main-header {
  background-color: #f3f7f8;
  background-image: url(img/background-header.jpg);
  background-position: top center;
  background-repeat: repeat;
}
.header-top {
  font-size: 17px;
  background-color: #293449;
}
.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #293449;
}
.header-top a,
.main-navigation a {
  color: #ffffff;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
}
.offer-button {
  background-color: #63a63e;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.header-search {
  font-family: inheric;
  background-color: #293449;
  color: #ffffff;
}
.main-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.main-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.header-top a:hover,
.header-top a:focus {
  background-color: #212a3a;
}
a.offer-button:hover,
a.offer-button:focus {
  background-color: #5fbb2d;
}
.header-top a:active {
  opacity: 0.6;
  background-color: #161d29;
} 
a.offer-button:active {
  opacity: 0.51;
  background-color: #518534;
}
.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}
.main-header-logo:active {
  background-color: #ba2732;
}